body{
    background-color:  green;
}
@font-face {
    font-family: 'brasil';
    src: url(Gumball.ttf);
}
#brasil{
    border: solid 40px yellow ;
    height: 60vh;
    width: 80vw;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    background-color: blue;
}
.brasilimg{
    height: 40vh;
    width: 20vw;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'brasil';
    
}
